#!/usr/bin/env zsh

# Make nano the default editor.
export EDITOR='nano';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";
# When using pager, auto-exit if text can be displayed on first screen
export LESS=-FRX;

# Don't clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# # https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-getting-started.html
# # https://docs.aws.amazon.com/cli/latest/userguide/cli-environment.html
# export AWS_DEFAULT_PROFILE="default";
# export AWS_DEFAULT_REGION="ap-south-1";
# export AWS_DEFAULT_OUTPUT="text";
export AWS_REGION="ap-south-1";
export AWS_SHARED_CREDENTIALS_FILE="${HOME}/.aws/credentials";
# export AWS_ACCOUNT_ID="";

# # For aws-auth-get-saml2sts-credentials function (see ~/.functions)
# export AWS_GOOGLE_SAML_DOWNLOAD_FILE="${HOME}/Downloads/credentials";
# export AWS_GOOGLE_SAML_SSO_URL="";
# export AWS_GOOGLE_SAML_ACCOUNT_EMAIL="";
# export AWS_GOOGLE_CHROME_PROFILE_DIR="";
